<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032604128953-fg20usk75r88qqrkf1j5rcpe503j6tlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032604128953-fg20usk75r88qqrkf1j5rcpe503j6tlo</string>
	<key>API_KEY</key>
	<string>AIzaSyANI7cOB1QqyweMcLLK1P7rS7klvj5Q3XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1032604128953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nh.cow.auction</string>
	<key>PROJECT_ID</key>
	<string>nhauction-3a51b</string>
	<key>STORAGE_BUCKET</key>
	<string>nhauction-3a51b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032604128953:ios:5cd30200561907a181ed68</string>
</dict>
</plist>